<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572088191006-8298l7im0cfhbou7gfjt4v8r3lnhf3au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572088191006-8298l7im0cfhbou7gfjt4v8r3lnhf3au</string>
	<key>API_KEY</key>
	<string>AIzaSyD3nWL7FeloTBgpcxxibWj2wxxgsZsuMUc</string>
	<key>GCM_SENDER_ID</key>
	<string>572088191006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-pos</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-pos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572088191006:ios:9f2fdeb11d072e23c6c60f</string>
</dict>
</plist>